<% layout("/layouts/boilerplate") %>
    <main>
        <section id="home">
            <div class="content">
                <div class="slide">
                    <div class="slider">
                        <div class="pgroom"><img src="images/pgroom1.png" alt="image1"></div>
                    </div>
                    <div class="slider">
                        <div class="pgroom"><img src="images/pgroom2.png" alt="image2"></div>
                    </div>
                    <div class="slider">
                        <div class="pgroom"><img src="images/pgroom3.png" alt="image3"></div>
                    </div>
                    <div class="slider">
                        <div class="pgroom"><img src="images/pgroom4.png" alt="image4"></div>
                    </div>
                </div>
                <div class="ourservice">
                    <div class="logoservicehead">
                        <div><img src="images/badge.svg" height="30px" width="30px"></div>
                        <h1>Our Services</h1>
                    </div>
                    <div class="logoservice">
                        <div><lord-icon src="https://cdn.lordicon.com/shquqxad.json" trigger="hover"
                                style="width:30px;height:30px">
                            </lord-icon></div>
                        <div class="servicetext">Free WIFI</div>
                    </div>
                    <div class="logoservice">
                        <div><animated-icons
                                src="https://animatedicons.co/get-icon?name=cupboard&style=minimalistic&token=e0caf948-608d-4388-8ab3-b012bd6bdb4e"
                                trigger="hover"
                                attributes='{"variationThumbColour":"#536DFE","variationName":"Two Tone","variationNumber":2,"numberOfGroups":2,"backgroundIsGroup":false,"strokeWidth":1,"defaultColours":{"group-1":"#000000","group-2":"#536DFE","background":"#FFFFFF"}}'
                                height="30" width="30"></animated-icons></div>
                        <div class="servicetext">Fully Furnished</div>
                    </div>
                    <div class="logoservice">
                        <div><animated-icons
                                src="https://animatedicons.co/get-icon?name=Open%20Door&style=minimalistic&token=25b3c946-1e5c-4cb9-b4ae-7153eddea748"
                                trigger="hover"
                                attributes='{"variationThumbColour":"#536DFE","variationName":"Two Tone","variationNumber":2,"numberOfGroups":2,"backgroundIsGroup":false,"strokeWidth":1,"defaultColours":{"group-1":"#000000","group-2":"#536DFE","background":"#FFFFFF"}}'
                                height="30" width="30"></animated-icons></div>
                        <div class="servicetext">Rooms in single and twin sharing</div>
                    </div>
                    <div class="logoservice">
                        <div><lord-icon src="https://cdn.lordicon.com/ugejbvui.json" trigger="hover" stroke="bold"
                                state="hover-jump" colors="primary:#121331,secondary:#545454"
                                style="width:30px;height:30px">
                            </lord-icon></div>
                        <div class="servicetext">For Girls Only</div>
                    </div>
                </div>
            </div>
        </section>
    </main>